certifi==2021.10.8
charset-normalizer==2.0.12
filelock==3.6.0
idna==3.3
lxml==4.8.0
pika==1.2.0
python-json-logger==2.0.2
requests==2.27.1
requests-file==1.5.1
six==1.16.0
tldextract==3.2.0
urllib3==1.26.9
